<img class="banner" src="{{data.image}}" alt=""><br>
<h1 class="primary-heading">{{data.title}}</h1>
<p class="abstract">{{data.abstract}}</p><br>
{{>item_slideshow}}<br>
<h2 class="abstract">{{data.heading1}}</h2>
{{>featured_products}}<br>
<h2 class="abstract">{{data.heading2}}</h2>
{{>categories}}<br>